.footer-container {
  background-color: #1a1a1a;
  height: 73px;
}
.footer-social-links {
  justify-content: space-evenly;
  margin: auto;
  padding: 20px 10px 20px 20px;
}
.footer-social-links li {
  list-style-type: none;
  display: inline;
  padding-left: 20px;
  justify-content: space-evenly;
}
.footer-social-links li a {
  text-decoration: none;
  justify-content: space-evenly;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  letter-spacing: 2.1px;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-container-2 {
  background-color: #000000;
  height: 70px;
}
.customer-section {
  background-color: #1661be;
  width: 100%;
  height: 500px;
}
.customer-heading h1 {
  font-family: "D-DIN Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 42.5px;
  line-height: 50%;
  /* or 72px */
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px;
  align-items: center;
  text-align: center;
}
.customer-heading p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.customer-inner-section {
  background-color: #1661be;
}
.partners-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* fff */

  color: #ffffff;
}
.our-partner-head {
  font-family: "D-DIN Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 72.5px;
  line-height: 100%;
  /* or 72px */

  text-transform: uppercase;

  color: #ffffff !important;
  color: #000;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-family: "DIN Condensed Bold" !important;
  font-size: 80px !important;
  line-height: 100% !important;
  font-weight: 600;
  margin-bottom: 0;
  font-weight: 900;
}
.background-red-ser {
  background-color: #f04040 !important;
}
.background-blue-ser {
  background-color: #1661be !important;
}
.background-white-ser {
  background-color: #ffffff !important;
}
.empty {
  width: 100%;
  height: 100px;
}

@font-face {
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 400;
  src: local("../fonts/din/DIN Condensed Bold"),
    url(../fonts/din/DINCondensed-Bold.woff) format("woff");
}

.drop-heading {
  font-family: "DIN Condensed Bold";

  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 80px;
  /* identical to box height, or 167% */

  text-transform: uppercase;

  color: #000000;
}

.form-group {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0.25rem;
  padding-bottom: 1rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
 .form-group .input-label {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  color: #121212;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
 .form-group .input-field {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.5rem;
  margin: 0.25rem 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 0.25rem;
  /* border-bottom: 2px solid transparent; */
  color: #121212;
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-transform: unset;
  text-rendering: optimizeLegibility;
}
 .form-group .input-check i.fas {
  position: absolute;
  font-size: 1rem;
  line-height: inherit;
  display: block;
  top: 2.5rem;
  right: 1rem;
  opacity: 0;
  visibility: hidden;
}
 .form-group .input-alert {
  position: absolute;
  display: block;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: inherit;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  color: #f44336;
}
 .form-group .input-submit {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: #ffffff;
  background: #f99400;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
 .form-group.success .input-field {
  border-bottom: 2px solid #2ecc71;
}
 .form-group.success .input-check i.fa-check-circle {
  opacity: 1;
  visibility: visible;
  color: #2ecc71;
}
 .form-group.error .input-field {
  border-bottom: 2px solid #f44336;
}
 .form-group.error .input-check i.fa-exclamation-circle {
  opacity: 1;
  visibility: visible;
  color: #f44336;
}
 .form-group.error .input-alert {
  opacity: 1;
  visibility: visible;
}
.submit-btn button {
  width: 460px;
  height: 48px;
  background: #f99400;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  border: none;
}

@media (max-width: 560px) {
  .form-section input {
    width: 280px;
    height: 45px;
    margin: 5px 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .submit-btn button {
    width: 280px;
    height: 45px;
  }

  .form-section .input-message {
    width:280px;
    height: 20vh;
    margin: 5px 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

/*------------------------------------------------------------------------------------------------------ services heading section  */

.career-page-section {
  position: relative;
  background-color: #166abe;
  overflow: hidden;
  width: 100%;
  height: 458px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top:12vh; */
}

.career-heading-section {
  max-width: 535px;
  padding: 88px 0px;

}

.career-heading-section h1 {
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 72.5px;
  line-height: 100%;
  /* identical to box height, or 72px */

  text-transform: uppercase;

  color: #ffffff;
  margin-top:62px;
}

.career-heading-section p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* fff */

  color: #ffffff;

  opacity: 0.9;
}

.career-back-img1 {
  position: absolute;
  opacity: 0.2;
  transform: rotate(180deg);
  right: 0;
  width: 56%;
  height: 100%;
  top: -208px;
}
.career-back-img2 {
  position: absolute;
  opacity: 0.2;
  left: 19%;
  bottom: -74%;
}

.career-back-img5 {
  position: absolute;
  opacity: 0.2;
  left: 0%;
  bottom: -50%;
}

.career-back-img3 {
  position: absolute;
  opacity: 0.2;
  left: 0%;
  bottom: 20%;
  width: 50%;
}


.career-back-img6 {
  position: absolute;
  opacity: 0.2;
  left: 0%;
  bottom: -50%;
}
.contact-us-button {
  position: fixed;
  height: 60px;
  width: 166px;

  background: #f3a80a;
  border-radius: 0px;
  border: none;

  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18.9841px;
  line-height: 44px;
  /* identical to box height, or 231% */

  letter-spacing: 1.46032px;
  text-transform: uppercase;

  color: #000000;
  right: -53px;
  top: 30%;
  /* bottom: 200px; */
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .career-back-img1 {
    width: 100%;
  }
  /* .career-back-img2 {
    left: 0px;
    bottom: -56%;
  } */
}
@media (max-width: 600px) {
  .career-heading-section p {
    width: 87%;
  }

  .contact-us-button {
    height: 50px;
  width: 126px;

  }
}
.footer-phone-color {
  color: white !important;
}
.footer-bg-custom {
  background-color: #1a1a1a;
  color: #ffffff !important;
}
.footer-phone-color {
  color: #ffffff !important;
}
.footer-copyright-custom {
  color: #ffffff !important;
}
.services-description {
  color: #000 !important;
}



.filter-work-box .filter-list li a .title{
  margin-top:30px;
}



/* contact us office locations  */


.contact-us-locations{
  /* border:3px solid red; */
}

.contact-us-locations h1{
  font-size: 20px;
  margin-bottom:0px;
}

.contact-us-locations p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  
  
  /* fff */
  
  color: black;
  padding:0px 5px;
} 

.office-location-name{
  font-family: "DIN Condensed Bold";

    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 30px;
    /* identical to box height, or 74% */
    
    letter-spacing: 1.1px;
    text-transform: uppercase;
    
    color: #000000;
    text-align: center;
    padding-top:10px;
}

.about-custom{
  background-color: white !important;


}
.footer-extra-custom-font{
  font-size: 50px !important;
}
.loader-position{
  width:300px;
  height:200px;
  margin-top: 20%;
  align-items: center;
  margin-left: 40%;
  text-align: center;
}
@media (min-width: 320px)and (max-width: 790px) {
  .loader-position{
    width:300px;
    height:200px;
    margin-top: 40%;
    align-items: center;
    margin-left: 10%;
    text-align: center;
  }

}
.ceo-italik{
  font-style: normal !important;
  font-size: 18px !important;
}
.innovation-bg-custom{
  background-image: url('../images/banner/innovation-backimg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.privacy-heading{
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 72.5px;
  line-height: 100%;
  text-transform: uppercase;
  color: #0c0c0c;
  text-align: center;
  padding-top: 160px;
 
}
.privacy-section h2{
  color: #000;
}
.privacy-section p{
 font-family: 'Poppins';
 font-weight: 400;
    color: #6f7275;
    font-size: 18px;
}
.footer-copyright p a{
  color: #FFFFFF !important;
  text-decoration: none;
}
.domain-short-div p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

/* fff */

color: #FFFFFF;

}


/* new added */
.about{
  width: 95%;
}
@media (min-width: 320px)and (max-width: 790px) {
  .contact-us-button { 
    height: 44px;
    width: 150px;
    z-index: 1;
  }
}
@media (min-width: 1080px)and (max-width: 1440px) {
  .contact-us-button {
    top:13%;
  }
}







.partner-text-sub{
  font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #ffffff !important;
    opacity: 0.9;
    text-transform:initial !important;
    margin-top: 25px;
}
.title-customer-custom{
  color: #000 !important;
}
@media (min-width: 320px)and (max-width: 540px) {
  .content-inner-1 {
    padding-top: 0px !important;
}
.dlab-bnr-inr.no-bg-bnr .dlab-bnr-inr-entry h1 {
  font-size: 39px !important;
  line-height: 40px !important;
  /* margin-bottom: 15px; */
  text-transform: uppercase;
  /* font-size: 56px; */
  /* font-family: "D-DIN Condensed"; */
  /* text-transform: uppercase; */
  color: #1661be;
}
}





.partner-contact-us-button{
  position: fixed;
      height: 60px;
      width: 166px;
      background: #f3a80a;
      border-radius: 0px;
      border: none;
      font-family: "DIN Condensed Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 18.9841px;
      line-height: 44px;
      letter-spacing: 1.46032px;
      text-transform: uppercase;
      color: #000000;
      right: -53px;
      z-index: 10;
      top: 280px;
    
      transform: rotate(90deg);
  }
  
  @media(max-width:600px){
    .partner-contact-us-button{
      width: 150px;
      height: 50px;
    }
  }
  @media(max-width:1000px){
    .office-location-name{
      font-size: 15px;
    }
  }



  /* new added 13=3-23 */
  @media (min-width: 320px)and (max-width: 790px) {
    .contact-us-button {
      position: absolute;
      height: 44px;
      width: 150px;
    }
   .industrial-contact .contact-us-button{
      height: 44px;
      width: 150px;
      top:53%;
    }
  }
  @media (min-width: 1080px)and (max-width: 1440px) {
    .industrial-contact .contact-us-button{
      top:47%;
    }
  }
  @media screen and (min-width: 1020px) and (max-width: 1430px){
  .nav-section-custom, .nav-section-custom-active {
      height: 6vh;
    }}