* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------------------------------------------------------------------------------------>seciton 1       */

@font-face {
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 400;
  src: local("../fonts/din/DIN Condensed Bold"),
    url(../fonts/din/DINCondensed-Bold.woff) format("woff");
}

@font-face {
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 400;
  src: local("../fonts/din/DIN Condensed Bold"),
    url(../fonts/din/DINCondensed-Bold.woff) format("woff");
}

.digital-section {
  /* background-color: #e7f2ff; */
  position: relative;
  overflow: hidden;

  background-image: url("../images/banner/bg-frame-1.svg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  border-bottom:2vh solid #F99400;
}

.contact-us-button {
  position: fixed;
  height: 60px;
  width: 166px;

  background: #f99400;
  border-radius: 0px;
  border: none;

  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18.9841px;
  line-height: 44px;

  z-index: 4;
  letter-spacing: 1.46032px;
  text-transform: uppercase;

  color: #000000;
  right: -53px;
  bottom: 100px;
  transform: rotate(90deg);
}





.digital-heading {
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 7vw;
  line-height: 110%;
  text-transform: uppercase;

  color: #f99400;
  position: absolute;
  top: 55%;
  left: 9%;
  transform: translateY(-64%);
}
.digital-img-section {
  display: flex;
  justify-content: end;
}

.digital-img-section img {
  width: 50%;
  height: 100%;
  z-index: 2;
  padding: 150px 0px;
}

.gitital-circuit {
  position: absolute;
  top: 47%;
  left: 0px;
  opacity: 0.2;
  width: 68%;
  height: 83%;
}

.gitital-circuit2 {
  position: absolute;
  top: -39%;
  right: -9%;
  opacity: 0.2;
  width: 72%;
  height: 83%;
  transform: rotate(180deg);
}
@media (max-width: 644px) {
  .contact-us-button {
    height: 42px;
    width: 140px;
  }
}

/*--------------------------------------------------------------------------------------------------------------------> section 2      */

.aboutus-section {
  margin: 18px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.about-haeding {
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 27px;
  /* identical to box height, or 52% */

  text-align: center;

  /* Yellow */

  color: #f99400;
  padding-top:25px;
}

.about-content-section {
  max-width: 755px;
}

.about-para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  /* or 159% */

  text-align: center;

  color: #333333;
  margin-top: 22px;
}

.about-circuit-img{
  /* border:2px solid red; */
  position:absolute;
  left:0px;
  top:-11%;
  opacity: .1;
  


}

.about-circuit-img2{
  position:absolute;
  right: 0px;
  bottom:-8%;
  transform: rotateY(180deg);
  opacity: .1;
}

/*------------------------------------------------------------------------------------------------------> services-section 3      */

.our-services-section {
  position: relative;
  padding: 40px 0px;
  background-color: #1661be;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.services-heading {
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 27px;
  /* identical to box height, or 52% */

  text-align: center;

  /* Yellow */

  color: #f99400;
}

.services-para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  /* or 159% */
  text-align: center;
  color: #ffffff;
  max-width: 670px;
  margin: 30px auto;
  /* border:2px solid red; */
}

.our-services-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.our-services-child {
  width: 238px;
  height: 238px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  color:white;
}

.our-services-child h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  text-align: center;
  /* Yellow */
  /* color: #f99400; */
 
}


.our-services-child:hover{
   color:#F99400;
   background-color: rgba(0, 0, 0, 0.53);
   cursor: pointer;
}


.circuit-img {
  position: absolute;
  top: -234px;
  opacity: 0.2;
  left: 0;
}
@media (max-width: 1300px) {
  .our-services-parent {
    flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  .services-heading {
    font-size: 35px;
  }
}




/*-------------------------------------------------------------------------------------------------------> why kyyte   4      */

.why-kyyte-section {
  padding: 70px 0px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.why-kyyte-parent {
  max-width: 912px;
  margin: auto;
}
.why-kyyte-child2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.why-kyyte-sub {
  width: 220px;
  height: 100px;
  border-top: 10px solid #f99400;
  background-color: #e6e6e6;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  padding: 20px 12px 11px 12px;
  background: rgba(13, 58, 114, 0.9);
border-radius:0px 0px 8px 8px;



}
.why-kyyte-header {
  text-align: center;
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 27px;
  /* identical to box height, or 52% */
  text-transform: uppercase;
  /* Yellow */
  color: #f99400;
}

.why-kyyte-para {
  padding: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  /* or 159% */
  text-align: center;
  /* black */
  color: #000000;
}

.why-kyyte-sub p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  
  text-align: center;
  
  /* fff */
  
  color: #FFFFFF;


  
}
.why-circuit {
  position: absolute;
  right: 0;
  transform: rotate(180deg);
  bottom: -169px;
  opacity: 0.2;
}


@media (max-width: 820px) {

 


  .why-kyyte-parent {
    max-width: 500px;
  }

  .why-kyyte-child2 {
    flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  .why-kyyte-header {
    font-size: 35px;
  }
}

/*-------------------------------------------------------------------------------------------------------> why kyyte   5     */

.innovation-section-parent {
  display: flex;
  justify-content: center;
}
.innovation-child {
  background-image: url("../images/banner/innovation-backimg.png");
  position: relative;
  width: 33.33%;
  height: 500px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 50px;
  padding-left: 40px;
}
.innovation-sub {
  /* width:328px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.innovation-sub h2 {
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 60px;
  /* identical to box height, or 136% */
  letter-spacing: 1px;
  text-transform: uppercase;
  /* Yellow */
  color: #f99400;
}
.innovation-sub h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  color: #ffffff;
}
.innovation-sub p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  /* or 159% */
  color: #ffffff;
}

@media (max-width: 950px) {
  .innovation-section-parent {
    flex-direction: column;
    align-items: center;
  }
  .innovation-child {
    width: 318px;
    height: 400px;
  }

  .innovation-sub h2 {
    font-size: 26px;
    line-height: 32px;
  }

  .innovation-sub p {
    padding-right: 10px;
  }
}

/*-------------------------------------------------------------------------------------------------------> why kyyte   5     */

.innovation-section-parent {
  display: flex;
  justify-content: center;
}
.innovation-child {
  background-image: url("../images/banner/innovation-backimg.png");

  position: relative;

  width: 33.33%;
  height: 500px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 50px;
  padding-left: 40px;
}
.innovation-sub {
  width: 328px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.innovation-sub h2 {
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 60px;
  /* identical to box height, or 136% */

  letter-spacing: 1px;
  text-transform: uppercase;

  /* Yellow */

  color: #f99400;
}
.innovation-sub h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  color: #ffffff;
}

.innovation-sub p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  /* or 159% */

  color: #ffffff;
}

.innovation-sub1 {
  gap: 57px;
}

@media (max-width: 950px) {
  .innovation-section-parent {
    flex-direction: column;
    align-items: center;
  }
  .innovation-child {
    width: 318px;
    height: 400px;
  }

  .innovation-sub h2 {
    font-size: 26px;
    line-height: 32px;
  }

  .innovation-sub p {
    padding-right: 10px;
  }

  .innovation-sub {
    gap: 4px;
  }
}

/*-------------------------------------------------------------------------------------------------------> why kyyte   6     */







.domains-section {
  background-color: #0a4b9b;
  padding: 10px 0px;
  padding-bottom:54px;
 
 
}

.domain-container{
  max-width: 1100px;
  margin:auto;
 
}



.domain-heading {
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 47px;
  /* identical to box height, or 64% */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  padding: 52px 0px;
}

.domain-center-img img {
  width: 99%;
  height: 100%;
  transform: scale(1.17,1.35);
 
}

.domain-all-imgs:hover{
  animation: flooting 1s infinite;
 /* margin-top:5px; */
 position:relative;
 /* margin-bottom:30px; */



}

@keyframes flooting{
    0%{
  
     top:0px;

    }
    50%{
      top:15px;

    }
    100%{
      top:0px;
    }
   
}




.domain-section-child{
  
  margin:28px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 117px !important;
  height: 92px;
  /* border:1px solid red; */

  /* background: rgba(22, 97, 190, 0.4);

border: 1.67721px solid #1661BE;
box-shadow: 0px 3.35441px 16.7721px rgba(0, 0, 0, 0.1); */
}

.domain-section-child h4{
  margin:0px;
  margin-top:6px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13.4177px;
  line-height: 20px;

  /* fff */

  color: #FFFFFF;

}


@media(max-width:1165px){

  
  .domain-center-img img {
    transform: scale(1);
  }
}




/*-------------------------------------------------------------------------------------------------------> why kyyte   7     */

.ceo-section {
  background-color: #1661be;
  padding: 50px 0px;
}

.ceo-img img {
  width: 100%;
  height: 100%;
}

.ceo-heading h1 {
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 27px;
  /* identical to box height, or 52% */

  text-align: center;

  /* Yellow */

  color: #f99400 !important;
}

.ily-heading {
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  /* identical to box height, or 53px */

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;
}
.infotech-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  color: #ffffff;
}

.ceo-para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
}

.index-hover-section-3 a {
  text-decoration: none;
}
.number-size {
  font-size: 9vw !important;
  opacity: 40%;
}
@media (min-width: 320px) and (max-width: 790px) {
  .digital-section {
    /* background-color: #e7f2ff; */
    position: relative;
    overflow: hidden;

    background-image: url("../images/banner/bg-frame-1.svg");
    background-repeat: no-repeat;
    height: 500px !important;
    width: 100%;
    background-size: cover;
  }
}


